
.custom-swiper .swiper-button-prev,
.custom-swiper .swiper-button-next {
  background-color: #ff0000; 
}
@media (max-width: 640px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

@media (max-width: 640px) { 
    .swiper-button-prev,
    .swiper-button-next {
        color: #ff0000;
      display: none;
    }
  }
  
  @media (min-width: 641px) { 
    .swiper-button-prev,
    .swiper-button-next {
      display: block; 
    }
  }
  